

img.logo-incial {
  margin-top: 20vh;
  width: 50vh;
}

h2.h2-white { 
  font-family: "Lato";
  font-size: 1.8rem;
  text-align: center;
}

/* mobile */
@media (max-width: 600px) {
  h2.h2-white { 
    font-family: "Lato";
    font-size: 1.0rem;
  }
  img.logo-incial {
    width: 20vh;
  }
}

/* small tablet */
@media (min-width: 601px) and (max-width: 900px) {
  h2.h2-white { 
    font-family: "Lato";
    font-size: 1.0rem;
  }
  img.logo-incial {
    width: 20vh;
  }
}