.logo-incial {
  margin-top: 20vh;
  width: 50vh;
}

.h2-white { 
  font-family: "Lato";
  font-size: 1.8rem;
  text-align: center;
}

.h2-mine-brown{
  font-family: "Minecraft";
  font-size: 2.8rem;
  text-align: center;
  color: #2F1808;
}

.container-beneficios {
  width: 100%;
  display: flex;
}

/* small tablet and mobile */
@media (max-width: 990px) {
  .logo-incial {
    width: 80vh;
  }

  .h2-white { 
    font-family: "Lato";
    font-size: 0.9rem;
  }

  .h2-mine-brown{
    font-family: "Minecraft";
    font-size: 1.0rem;
    text-align: center;
    color: #2F1808;
  }

  .container-beneficios {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .h2-mine-brown{
    font-family: "Minecraft";
    font-size: 2.8rem;
    text-align: center;
    color: #2F1808;
  }

}